[submodule "live-migration-operator"]
	path = live-migration-operator
	url = https://github.com/leonardopoggiani/live-migration-operator
[submodule "liqo"]
	path = liqo
	url = https://github.com/leonardopoggiani/liqo
